@import "./normalize.scss";

/* General Styles */
/* html {
    62.5% of 16px is 10px
    font-size: 62.5%;
} */

:root {
    --color-white: #e6e6e6;
    --color-blue: #016179;
    --color-blue-faded: #0161792e;
    --color-blue-dark: #002129;
    --color-white-faded: #e6e6e64d;
    --color-primary: #071126;
    --color-secondary: #d1dbe8;
    --color-accent-light: #c8c9ce;
    --color-accent-mild: #9c9da5;
    --color-accetnt-dark: #474855;
    --color-btn-blue: #0e51b4;
    --color-success: #138713;
}

::selection {
    background: var(--color-accent-mild);
    color: var(--color-white);
}

*,
*::before,
*::after {
    box-sizing: border-box;
}


body {
    background: var(--color-white);
    padding-top: 3.7rem;
}

body.no-nav {
    padding-top: 0;
}

h1, h2, h3, h4 {
    color: var(--color-blue);
}

a {
    text-decoration: none;
}

/* Components */
/* 1. Icon */
.icon-container {
    display: inline-flex;
    justify-content: center;
    padding: 0.2rem;
}

.icon {
    width: 28px;
    height: 28px;
}

.icon--circle {
    background: #fff;
    border-radius: 100%;
    padding: 0.45rem;
}

.icon--squared {
    background: #fff;
    border-radius: 20%;
}

.icon--small {
    border-radius: 100%;
    padding: 0.3rem;
}

.icon--small .icon {
    width: 18.5px;
    height: 18.5px;
}

/* 2. Buttons */
.btn {
    display: inline-block;
    outline: 0;
    border: 0;
    border-radius: 20px;
    cursor: pointer;
    white-space: nowrap;
    text-align: center;
    padding: 0.5rem 1rem;
    font-weight: 400;
    line-height: 1.5;
    vertical-align: middle;
    font-size: 1.3rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    color: var(--color-white);
}

.btn--primary {
    background: var(--color-blue);
    border-color: var(--color-blue);
}

.btn--primary:hover {
    background: var(--color-blue-dark);
    border-color: var(--color-blue-dark);
    color: var(--color-white);
}

.btn--icon {
    padding: 0.2rem 1rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.btn--img {
    display: flex;
    flex-direction: row;
    justify-content: center;
    line-height: 1;
}

.btn .btn__text {
    font-weight: 300;
    padding-left: 0.1rem;
    margin: auto 0;
    font-size: 1.5rem;
}

.btn--img .btn__text {
    font-size: 1.2rem;
}

.btn--outline {
    background: transparent;
    border: 1px solid var(--color-blue);
    color: var(--color-blue);
}

.btn--outline:hover {
    color: var(--color-white);
}

.btn--edit {
    color: #08cf08;
    background-color: #198754;
    border-color: #198754;
}

.btn--edit:hover {
    color: #44ff44;
}

.btn--category {
    color: #12736C;
    background-color: #0dcaf0;
    border-color: #0dcaf0;
}

.btn--category:hover {
    color: #000;
}

.btn--delete {
    color: #ff0000;
    border-color: #ff0000;
}

.btn--delete:hover {
    background: #ff00008a;
    border-color: #ff00008a;
}

.btn--group {
    display: flex;
    flex-direction: row;
    justify-content: start;
    flex-wrap: wrap;
}

@media screen and (min-width: 720px) {
    .btn {
        padding: 0.4rem 0.9rem;
        line-height: 1.3;
    }
    .btn--lg {
        line-height: 1.5;
        padding: 0.4rem 1.6rem;
    }
}

/* 3. Card */
.card {
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.2s ease-out, box-shadow 0.2s ease-in-out;
    width: 100%;
    margin: 0.2rem;
    border: 1px solid var(--color-blue);
    word-wrap: break-word;
}

.card:hover{
    box-shadow: 0px 0px 10px 2px var(--color-accetnt-dark);
}

.card--popover:hover {
    transform: scale(1.01);
}

.card__image {
    width: 100%;
}

.card__header {
    font-size: 2.1rem;
    line-height: 1.5;
    font-weight: 500;
    padding: 0 1rem;
}

.card__body,
.card__btn {
    padding: 0.5rem 1rem;
}

.card__footer {
    background-color: rgb(61 58 58 / 18%);
    border-top: 1px solid rgba(0,0,0,.125);
    padding: 0.5rem 2rem;
}

.card__divider {
    border-top:1px solid #00000020;
    width: 50%;
    margin: 0.5rem 0;
}

.card small {
    font-size: 1.8rem;
}
.text-muted {
    color: #6c757d;
}
@media screen and (min-width: 720px) {
    .card__header {
        font-size: 1.9rem;
    }
}
/* 5. Block */
.block {
    --padding-vertical: 6rem;
    padding: var(--padding-vertical) 2rem;
}

.block__header {
    text-align: center;
    margin-bottom: 4rem;
}

.block__heading {
    margin-top: 0;
}

.block--dark {
    background: var(--color-blue-dark);
    color: var(--color-accetnt-dark);
}

.block--dark h1, .block--dark h2, .block--dark h3 {
    color: var(--color-secondary);
}

/* 6. Footer */
.footer a {
    color: var(--color-accent-mild);
    transition: color 0.3s;
}

.footer a:hover {
    color: var(--color-secondary);
}

.footer__section {
    padding: 1.5rem;
    border-bottom: 1px solid var(--color-white-faded);
}

.footer__section .list {
    margin: 0;
}

.footer__heading {
    text-transform: uppercase;
    font-weight: 600;
}

.footer__brand {
    margin-top: 3rem;
    text-align: center;
}

.footer__brand img {
    width: 100%;
    max-width: 50px;
}

.footer__copyright {
    padding: 0 2rem;
    color: #fff;
    opacity: 0.3;
}

.footer__sections {
    margin-top: 0;
}

.block--dark.footer .collapsible__chevron {
    fill: var(--color-white-faded);
}

@media screen and (min-width: 768px) {
    .footer__sections {
        grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    }

    .footer .collapsible__chevron {
        display: none;
    }

    .footer .collapsible__content {
        opacity: 1;
        max-height: 100%;
    }

    .footer__brand {
        order: -1;
        margin-top: 2rem;
    }

    .footer__section {
        border: 0;
    }

    .footer__heading {
        font-size: 1.6rem;
    }
}

/* 7.Lists */
.list {
    list-style: none;
    padding-left: 0;
}

.list--inline .list__item {
    display: inline-block;
    margin-right: 2rem;
}

/* 8. Collapsible */
.collapsible__header {
    display: flex;
    justify-content: space-between;
}

.collapsible__heading {
    margin-top: 0;
}

.collapsible__chevron {
    transform: rotate(-90deg);
    transition: transform 0.3s;
    opacity: 0.75;
}

.collapsible__chevron:hover {
    opacity: 1;
}

.collapsible__content {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

.collapsible--expanded .collapsible__chevron {
    transform: rotate(0);
}

.collapsible--expanded .collapsible__content {
    max-height: 100vh;
    opacity: 1;
}

/* 8. Table */
.pps-table {
    border-top: 2px solid var(--color-blue);
    border-bottom: 2px solid var(--color-blue);
    color: var(--color-blue);
    background: var(--color-white);
}

.pps-table thead {
    /* display: block; */
    background: var(--color-blue);
    color: var(--color-white);
    border-bottom: 2px solid #fff;
}

.pps-table th,
.pps-table td {
    white-space: normal;
    word-break: break-all;
}

.pps-table tbody td span[class="data-name"] {
    display: none;
}

.financial-statement .commodity__quantity,
.financial-statement .commodity__acquisition-date {
    width: 100%;
}

.financial-statement .commodity__quantity .quantity-text,
.financial-statement .commodity__acquisition-date .acquisition-text {
    flex-grow: 1;
    font-weight: bold;
}

.financial-statement .commodity__quantity .commodity__unit,
.financial-statement .commodity__acquisition-date .acquisition-date {
    margin-right: 0.3rem;
    width: 8rem;
}

.financial-statement .commodity__quantity span:nth-child(2),
.financial-statement .commodity__acquisition-date span:nth-child(2),
.financial-statement .commodity__acquisition-date.asset span:nth-child(3),
.financial-statement .commodity__acquisition-date.asset.subtotal span:nth-child(2) {
    display: none;
}


.financial-statement .commodity__acquisition-date.asset .acquisition-text {
    margin-left: 0.8rem;
    font-weight: 400;
    flex-grow: 1;
}

.financial-statement .commodity__acquisition-date.asset span:nth-child(2) {
    display: flex;
    margin-left: 2rem;
    background: inherit;
    color: var(--color-blue);
}

.financial-statement .commodity__acquisition-date.asset.subtotal .acquisition-text {
    font-weight: bold;
}

.financial-statement .commodity__acquisition-date.asset.subtotal span:nth-child(3) {
    display: flex;
}

.financial-statement .commodity__acquisition-date .acquisition-text.collapsible__header:hover {
    background: var(--color-white);
}
.financial-statement .commodity__acquisition-date.total .acquisition-text {
    text-transform: uppercase;
}

.financial-statement .inventories {
    background: #eef1ff;
}

.financial-statement .inventories .scrollable-list {
    max-height: 30vh;
}

@media screen and (max-width: 499px) {
    .pps-table {
        color: var(--color-blue);
        background: var(--color-white);
    }

    .pps-table thead {
        display: none;
    }

    .pps-table tbody tr {
        border: 1px solid var(--color-blue);
        display: flex;
        flex-direction: column;
    }

    .pps-table tbody tr th {
        background: var(--color-blue);
        color: var(--color-white);
    }

    .pps-table tbody td {
        padding-top: 0.3rem;
        padding-bottom: 0.3rem;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .pps-table tbody td span[class="data-name"] {
        display: block;
        font-weight: 500;
    }
}

@media screen and (min-width: 520px) {
    .financial-statement .commodity__quantity span:nth-child(2),
    .financial-statement .commodity__acquisition-date span:nth-child(2) {
        display: block;
    }

    .financial-statement .commodity__acquisition-date.asset .acquisition-text {

    }

    .financial-statement .commodity__acquisition-date.asset span:nth-child(2) {
        flex-grow: 1;
    }
}

@media screen and (min-width: 720px) {
    .financial-statement .commodity__acquisition-date.asset .acquisition-text {
        flex-grow: 2;
    }
}

@media screen and (min-width: 1024px) {
    .financial-statement .commodity__acquisition-date.asset .acquisition-text {
        flex-grow: 5;
    }
}



/* Components */

/* Forms */
.form--control-group {
    margin: 1rem 0;
}

.form--header {
    background: var(--color-blue);
    color: var(--color-white);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem 0;
}

.form--brand {
    width: 5rem;
}

.form--title {
    color: var(--color-white);
    text-transform: uppercase;
    margin: 0;
    text-align: center;
}

.form--control-lead {
    border: 1px solid var(--color-blue);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.control-lead-icon {
    width: 2.5rem;
    height: 2.5rem;
    margin: 0 0.5rem 0 0.3rem;
}

.control-lead-text {
    background: var(--color-blue);
    color: var(--color-white);
    flex-grow: 1;
    padding: 0.7rem 0.3rem;
    font-weight: 350;
    font-size: 1.3rem;
}

.form--input-line input {
    background: var(--color-white);
    color: var(--color-blue);
    border: 0;
    border-bottom: 1px solid var(--color-blue);
    outline: 0;
    border-radius: 0;
    margin-top: 10px;
    margin-bottom: 10px;
}

.form--control-group .date .form--input-line input {
    background: #ffffffb5;
}

.form--control-group textarea {
    border: 1px solid var(--color-blue);
    color: var(--color-blue-dark);
    width: 95%;
    max-width: 800px;
    margin: 0 0.5rem;
}

.form--btn-group {
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
}

form .btn {
    width: 100%;
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
    font-weight: 350;
    line-height: 1.2;
    font-size: 1.1rem;
}

form .btn[type="submit"] {
    background: var(--color-success);
    border-color: var(--color-success);
}

form .btn[type="submit"]:hover {
    background-color: #0b4e0b;
    color: var(--color-white);
}

.form--control-group .form--input-line input,
.form--control-group .form--input-line label {
    margin-bottom: 0;
}

.form--control-group .form--input-line input {
    color: var(--color-blue-dark);
    margin-top: 0;
}

.form--control-group .form--input-line label {
    color: var(--color-blue);
}

.form--control-group .form--input-line input[type="file"] {
    background: var(--color-accent-light);
}

.form--control-group .form--input-line {
    width: 100%;
    max-width: 330px;
}

.no-view {
    opacity: 0;
}

@media screen and (min-width: 500px) {
    .form--btn-group {
        flex-direction: row;
        justify-content: start;
    }

    .form--btn-group .btn {
        max-width: 235px;
    }
    .form--btn-group .btn:first-child {
        margin-right: 1rem;
    }
}

@media screen and (min-width: 900px) {
    .form--control-group .form--input-line {
        max-width: 400px;
    }
}

/* Forms */

/* Login */
.login-body,
.register-body {
    background-color: #d3d1d1;
}

.form-signin.login,
.register-form {
    background-color: var(--color-white);
}

.login {
    padding: 3rem 0;
    text-align: center;
}
.login--form {
    width: 100%;
    max-width: 300px;
    margin: 1rem;
    margin-left: auto;
    margin-right: auto;
}

.login hr {
    color: var(--color-blue);
    height: 1.8px;
    margin-bottom: 2rem;
    opacity: 1;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.login--title {
    font-size: 1.5rem;
    margin: 0;
    padding: 0;
    text-align: center;
}

.login--form .form--control-lead {
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.login--form .control-lead-text {
    border-top-right-radius: 23px;
}

.form--input-line label {
    color: var(--color-blue-dark);
}

.login--checkbox input {
    color: var(--color-blue-dark);
}

.pps-footer.login,
.pps-footer.register {
    margin-top: 1rem;
    padding: 0;
    border: 0;
}

.login .block.footer,
.login .block.footer .footer__copyright,
.register .block.footer,
.register .block.footer .footer__copyright {
    color: var(--color-blue-dark);
}

.login .block.footer .footer__copyright,
.register .block.footer .footer__copyright {
    opacity: 0.6;
}

.login .block.footer,
.register .block.footer {
    padding-top: 0.3rem;
    padding-bottom: 2rem;
}

.select-page .pps-main-content-body {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0.3rem;
}

.select-page .pps-main-content-body .card {
    margin: 0.3rem;
    border-radius: 0;
    width: auto;
}

.select-page .pps-main-content-body .card .card__header {
    background: var(--color-white);
    color: var(--color-blue);
}

.select-page .pps-main-content-body .card .commodity__icon {
    background: var(--color-white);
}

.select-page .pps-main-content-body .card .commodity__name {
    color: var(--color-blue)
}

.card.card--secondary,
.select-page .pps-main-content-body .card,
.modal .card {
    margin: 0.3rem;
    border-radius: 0;
    width: auto;
}

.card.card--secondary .card__header,
.select-page .pps-main-content-body .card .card__header,
.modal .card .card__header {
    background: var(--color-white);
    color: var(--color-blue);
}

.card.card--secondary .commodity__icon,
.select-page .pps-main-content-body .card .commodity__icon,
.modal .card .commodity__icon {
    background: var(--color-white);
}

.card.card--secondary .commodity__name,
.select-page .pps-main-content-body .card .commodity__name,
.modal .card .commodity__name {
    color: var(--color-blue)
}

.flex-col--wrap .card.card--secondary .commodity__description {
    white-space: wrap;
    overflow:visible;
}

// .select-page .pps-main-content-body .card.dashboard .btn--img::before {
//     content: url(../images/menubar-light.ico);
// }

// .select-page .pps-main-content-body .card.register .btn--img::before {
//     content: url(../images/register-light.ico);
// }

.select-page .pps-footer,
.user-profile-page .pps-footer {
    border-top: 0;
}
.select-page .block.footer {
    --padding-vertical: 2rem;
    background: var(--color-accent-light);
}

.select-page .footer .footer__copyright {
    color: var(--color-blue-dark);
}

.select-page.user-profile-page .pps-main-content-body {
    justify-content: space-between;
}

.user-profile-page .pps-main-content-body .card .btn--img::before {
    content: none;
}

.user-profile-page .card .btn--group {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.user-profile-page .card .btn {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    border-radius: 0;
    box-shadow: 0px 2px 4px 1px #117446;
}

.user-profile-page .card .btn:hover {
    border: solid 1px #08cf08;
}

@media screen and (min-width: 520px) {
    .select-page .pps-main-content-body .card {
        width: 40%;
    }

    .select-page .pps-main-content-body .commodity .card {
        width: auto;
    }
}

@media screen and (min-width: 600px) {
    .select-page .pps-main-content-body .commodity {
        width: 48%;
    }
}

@media screen and (min-width: 720px) {
    .select-page .pps-main-content-body .card {
        width: 40%;
    }
}

@media screen and (min-width: 920px) {
    .select-page .pps-main-content-body .commodity {
        width: 40%;
    }
}

@media screen and (min-width: 1024px) {
    .select-page .pps-main-content-body .card {
        width: 30%;
    }

    .select-page .pps-main-content-body .card {
        width: 48%;
    }
}

@media screen and (min-width: 1210px) {
    .select-page .pps-main-content-body .card {
        width: 24%;
    }
}

@media screen and (min-width: 400px) {
    .login--form {
        max-width: 350px;
    }
}

/* Login */

/* Register */
.register-form form {
    margin-bottom: 1.8rem;
}

.add-commodity--body {
    width: 100%;
}

.register--body {
    width: 100%;
    max-width: 850px;
    margin: 0.5rem auto;
    padding: 0.5rem;
}

.register .form--control-lead {
    border: 0;
    border-bottom: 1px solid var(--color-blue);
}


.register .radio .form-check-input[type=radio] {
    border-color: var(--color-blue);
}

.register .radio .form-check-label {
    color: var(--color-blue-dark);
}

.register .btn {
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
}

.register .form--control-group {
    align-items: center;
}

.register .form--control-group .names {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.register .form--control-group .form--input-line {
    width: 100%;
    max-width: 330px;
}

@media screen and (min-width: 900px) {
    .register .form--control-group .form--input-line {
        max-width: 400px;
    }
}
/* Register */

/* Add Commodity */

.add-commodity-body .pps-sidebar,
.add-commodity-body .pps-sidebar-icon {
    background: var(--color-blue);
    border-right-color: var(--color-white);
}

.pps-main-content .add-commodity--body {
    width: 100%;
    padding: 0.5rem 1rem;
    background: whitesmoke;
}

.pps-main-content-body .content-header {
    background: var(--color-white);
}

.pps-main-content-body .content-header .title {
    margin: 0.5rem 1rem;
    padding: 0.4rem 1rem;
}

.add-commodity .form--control-lead {
    border: 0;
    border-bottom: 1px solid var(--color-blue);
}

.add-commodity .control-lead-icon {
    background: var(--color-blue);
    padding: 0.1rem;
    width: 2.8rem;
    height: 2.8rem;
    margin-left: 0;
}

.add-commodity .control-lead-text {
    background: transparent;
    color: var(--color-blue);
    padding: 0;
    font-size: 1.1rem;
    font-weight: bolder;
}


.add-commodity .form--input-line label {
    color: var(--color-blue-dark);
}

.add-commodity .form--input-line input {
    border: 1px solid var(--color-blue);
}

.add-commodity .category--link .icon--circle{
    background: transparent;
    border: 1px solid var(--color-blue);
    border-radius: 15%;
    color: var(--color-blue);
}

.add-commodity .category--link .icon--circle:hover {
    background: var(--color-secondary)
}
/* Add Commodity */

/* Sell */
.add-commodity--body .add-commodity.sell .names {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.add-commodity--body .add-commodity.sell .names label {
    font-size: 1.8rem;
    white-space: normal;
    word-wrap: break-all;
    word-break: break-all;
}
.add-commodity--body .add-commodity.sell .names input[name="selling_price"] {
    border: 0;
    background: inherit
}
.add-commodity--body .add-commodity.sell .commodity__quantity {
    flex-wrap: wrap;
}

/* Sell */
/* Supplier Purchase */
.add-commodity--body .add-commodity.sell.supplier-purchase .names input[name="selling_price"] {
    border: 1px solid var(--color-blue);
    background: var(--color-white);
}
/* Supplier Purchase */
/* Grids */
.grid {
    display: grid;
}

@media screen and (min-width: 768px) {
    .grid--1x2 {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 1024px) {
    .grid--1x3 {
        grid-template-columns: repeat(3, 1fr);
    }
}
/* Flexes */
.flex {
    display: flex;
    padding: 0.5rem;
    justify-content: start;
    flex-direction: column;
}

.flex-col--wrap {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
}

@media screen and (min-width: 520px) {
    .flex-col--wrap .card {
        width: 48%;
    }

    .flex-col--wrap .commodity .card {
        width: auto;
    }
}

@media screen and (min-width: 600px) {
    .flex-col--wrap .commodity {
        width: 48%;
    }
}

@media screen and (min-width: 720px) {
    .flex-col--wrap .card {
        width: 100%;
    }
}

@media screen and (min-width: 920px) {
    .flex-col--wrap .commodity {
        width: 30%;
    }
}

@media screen and (min-width: 1024px) {
    .flex-col--wrap .card {
        width: 30%;
    }

    .flex-col--wrap .card {
        width: 48%;
    }
}

@media screen and (min-width: 1210px) {
    .flex-col--wrap .card {
        width: 24%;
    }
}


/* Components */

/* Header */
.pps-primary-navbar,
.pps-primary-navbar .navbar-brand,
.pps-primary-navbar .navbar-nav .nav-link,
.pps-primary-navbar .dropdown-item{
    color: var(--color-blue);
}

.pps-primary-navbar .navbar-nav.pps-main-nav {
    align-items: center;
}

.pps-primary-navbar .show .navbar-nav.pps-main-nav {
    align-items: start;
}

.pps-primary-navbar .navbar-toggler {
    border-width: 2px;
    border-color: var(--color-blue);
    opacity: 0.7;
    padding: 0.1rem 0.4rem;
    transition: all 0.3s ease-in;
}

.pps-primary-navbar .navbar-toggler:hover {
    opacity: 1;
}

.pps-primary-navbar .navbar-nav .nav-item.item-icon,
.pps-primary-navbar .user .nav-item.dropdown .dropdown-item.item-icon,
.pps-sidebar .pps-sidebar__nav .dropdown .dropdown-item.item-icon,
.pps-sidebar-icon .pps-sidebar__nav-icon .dropdown .dropdown-item.item-icon {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.pps-primary-navbar .user .nav-item.dropdown .dropdown-item.item-icon .nav-link,
.pps-sidebar .pps-sidebar__nav .dropdown .dropdown-item.item-icon .nav-link,
.pps-sidebar-icon .pps-sidebar__nav-icon .dropdown .dropdown-item.item-icon {
    padding: 0;
    padding-left: 0.2rem;
}

.pps-primary-navbar .icon--circle:hover {
    background: var(--color-blue-faded);
}

.pps-secondary-navbar,
.pps-secondary-navbar .dropdown-menu,
.pps-secondary-navbar .navbar-brand,
.pps-secondary-navbar .navbar-nav .nav-link,
.pps-secondary-navbar .dropdown-item {
    background: var(--color-blue);
    color: var(--color-white);
}

.pps-primary-navbar .nav-item,
.pps-secondary-navbar .nav-item {
    border-radius: 20px;
    margin: 0 0.5rem;
    transition: background 0.2s ease-out;
}

.pps-primary-navbar .nav-link,
.pps-secondary-navbar .nav-link {
    padding: 0.1rem 0.5rem;
}

.pps-primary-navbar .nav-item:hover {
    background: var(--color-blue-faded);
}

.pps-secondary-navbar .nav-item:hover {
    background: var(--color-white-faded);
}

.pps-primary-navbar .dropdown-item:hover,
.pps-secondary-navbar .dropdown-item:hover {
    transition: background 0.2s ease-in-out, color 0.2s ease-out;
}

.pps-secondary-navbar .dropdown-item:hover {
    background: var(--color-white);
    color: var(--color-blue);
}

// .btn {
//     display: inline-block;
//     outline: 0;
//     border: 0;
//     border-radius: 20px;
//     cursor: pointer;
//     white-space: nowrap;
//     text-align: center;
//     padding: 0.5rem 1rem;
//     font-weight: 400;
//     line-height: 1.5;
//     vertical-align: middle;
//     font-size: 1.3rem;
//     transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
//     color: var(--color-white);
// }

form .btn.btn--link {
    border-radius: 0;
    color: var(--color-blue);
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
}

form .btn.btn--link[type=submit] {
    background: transparent;
    border-color: transparent;
}

form .btn.btn--link[type=submit]:hover {
    background-color: transparent;
    color: var(--color-blue);
}

form .btn.btn--link .btn__text {
    font-weight: 400;
    color: var(--color-blue);
    font-size: 1em;
}

/* Header */

/* Content */
.pps-content {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

/* Aside / Sidebar */
.pps-menu-bar {
    background: var(--color-blue);
    color: var(--color-white);
    padding: 0.2rem;
}

.pps-menu-bar .btn {
    padding: 0.2rem 0.5rem;
    line-height: 1;
}

.pps-menu-bar .btn .icon--circle {
    border: 1px solid var(--color-white);
    border-radius: 0;
    background: var(--color-blue);
}

.pps-menu-bar .btn .btn__text {
    color: var(--color-white);
}

.pps-menu-bar .btn.btn--outline {
    border-color: var(--color-white);
    border-radius: 0;
}

.pps-menu-bar button[aria-expanded="true"] {
    border-radius: 100%;
}

.pps-aside {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.pps-sidebar,
.pps-sidebar-icon {
    border-right: 5px solid var(--color-blue);
    box-shadow: 0px 2px 6px #00313d;
    width: 100%;
}

.pps-sidebar-icon,
.pps-sidebar.wide-display {
    display: none;
}

.pps-sidebar hr,
.pps-sidebar-icon hr {
    color: var(--color-blue);
    height: 2px;
    margin: 0.5rem 0 0.2rem;
}

.pps-sidebar-title {
    font-weight: 600;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.pps-sidebar-title span {
    color: var(--color-blue);
}

.pps-sidebar-icon-title {
    padding: 0.5rem 1rem;
}

.pps-sidebar .nav-link {
    color: var(--color-blue);
}

.pps-sidebar .nav-item {
    border-radius: 20px;
}


.pps-sidebar .nav-item:hover {
    background: var(--color-blue-faded);
}

.pps-sidebar-icon .nav-item:hover,
.pps-sidebar-icon .dropdown:hover {
    background: var(--color-blue-faded);
}

.pps-sidebar .icon--small {
    padding: 0;
}

.pps-sidebar__nav {
    height: 32rem;
}

.pps-sidebar__nav-icon {
    height: 38rem;
}

.pps-aside .dropdown .dropdown-menu .dropdown-item,
.pps-sidebar-icon .dropdown .dropdown-menu .dropdown-item,
.pps-aside .dropdown .link-dark {
    color: var(--color-blue);
}

.pps-aside .dropdown .dropdown-menu .dropdown-item:hover
.pps-sidebar-icon .dropdown .dropdown-menu .dropdown-item:hover {
    background: var(--color-blue-faded);
}

.pps-sidebar .pps-sidebar__nav .dropdown .dropdown-item.item-icon.username .icon--circle,
.pps-sidebar-icon .pps-sidebar__nav-icon .dropdown .dropdown-item.item-icon.username .icon--circle {
    background: var(--color-white);
    border: 1px solid var(--color-blue);
}

.pps-sidebar .pps-sidebar__nav .dropdown .dropdown-item.item-icon.username,
.pps-sidebar-icon .pps-sidebar__nav-icon .dropdown .dropdown-item.item-icon.username {
    flex-direction: column;
}

.pps-sidebar .pps-sidebar__nav .dropdown .dropdown-item.item-icon,
.pps-sidebar-icon .pps-sidebar__nav-icon .dropdown .dropdown-item.item-icon {
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
}

/* Main Content */
.pps-main-content {
    width: 100%;
}

.pps-main-content-header {
    border-top: 1px solid var(--color-blue);
    border-bottom: 1px solid var(--color-blue);
    margin: 2px 0;
    padding: 0.7rem 0;
    text-align: center;
    box-shadow: 4px 2px 6px #00313d;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pps-main-content-header .icon--circle {
    margin-left: 1rem;
    background: var(--color-secondary)
}

.pps-main-content-title {
    text-transform: uppercase;
    color: var(--color-blue);
    font-weight: 500;
    margin: 0 1rem;
}

.title-case-lower {
    text-transform: capitalize;
}

.pps-body-nav {
    background: var(--color-blue-faded);
    margin-bottom: 0;
}

.pps-body-nav .nav-tabs {
    padding: 0.6rem 0.8rem 0;
    border-bottom: 1px solid var(--color-blue);
}

.pps-body-nav .nav-tabs .nav-link.active {
    border-color: var(--color-blue) var(--color-blue) #fff;
    background: #fff;
    box-shadow: 0px -2px 3px 0px #00313d;
}

.pps-body-nav .nav-tabs .nav-link {
    color: var(--color-blue);
    background: 0 0;
    border: 1px solid transparent;
    margin-right: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 0.2rem 0.5rem;
}

.pps-body-nav .nav-tabs .nav-link:hover {
    background: var(--color-blue-faded);
}

.pps-body-content {
    padding: 1rem 1rem;
    box-shadow: 0px -3px 9px 0px #00313d;
    background: linear-gradient(to right, transparent, #fff, #fff, #fff, #fff, #fff, #fff, #fff, #fff, #fff, #fff, #fff, #fff, #fff, #fff, #fff, #fff, #fff, #fff, transparent);
}

.pps-main-content-footer {
    padding: 1rem;
}

@media screen and (min-width: 601px) {
    .pps-menu-bar,
    .pps-sidebar {
        display: none;
    }

    .pps-content {
        flex-direction: row;
    }

    .pps-aside {
        width: 13%;
    }
    .pps-sidebar-icon {
        display: block;
    }
}

@media screen and (min-width: 720px) {
    .pps-body-nav .nav-tabs {
        padding-left: 2rem;
        padding-right: 2rem;
    }
    .pps-body-content {
        padding: 1rem 2rem;
    }
}

@media screen and (min-width: 901px) {
    .pps-aside {
        width: 25%;
    }

    .pps-sidebar.wide-display {
        display: block;
    }

    .pps-sidebar-icon {
        display: none;
    }
}
/* Commodities Plan */
.commodity {
    width: 100%;
}

.scrollable-list {
    max-height: 100vh;
    white-space: nowrap;
    overflow-y: scroll;
}

@media screen and (min-width: 601px){
    .scrollable-list {
        max-height: 90vh;
    }
}

.commodity .card__header {
    background: var(--color-blue);
    color: var(--color-white);
    padding: 0;
}

.commodity__icon .icon {
    width: 4rem;
    height: 4rem;
}

.commodity__icon {
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--color-white-faded);
}

.commodity__name {
    margin: 0;
    font-weight: 400;
    font-size: 1.3rem;
    margin: 0 0.5rem;
    color:  var(--color-white);
}

.commodity__tags {
    padding: 0 0.6rem 0.6rem;
    text-align: center;
}

.commodity__price {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 2rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}


.commodity__price span {
    line-height: 1;
}

.commodity__currency,
.commodity__unit {
    font-size: 1.2rem;
    font-weight: 300;
    color:  #e6e6e680;
}

.commodity .card .empty {
    font-size: 1.2rem;
    font-weight: 300;
    margin-right: 0.5rem;
}

.commodity .card .empty .btn {
    padding: 0;
}

.commodity .card .empty .btn:hover {
    opacity: 0.8;
}

.commodity__unit {
    font-size: 1.2rem;
}

.commodity__description {
    font-size: 1rem;
    font-weight: 300;
    letter-spacing: 1px;
    display: block;
}

.commodity__quantity,
.commodity__acquisition-date,
.commodity__category,
.commodity__type {
    color: var(--color-blue);
    display: flex;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    flex-direction: row;
    border-bottom: 1px solid var(--color-blue-faded);
}

.acquisition-date.empty {
    padding: 0;
    background: transparent;
}

.quantity-text,
.acquisition-text,
.category-text,
.type-text {
    font-weight: 400;
}

.quantity-value,
.commodity__quantity .commodity__unit,
.acquisition-date {
    color: var(--color-blue-dark);
}

.quantity-value,
.acquisition-date,
.category-value,
.type-value {
    background: var(--color-blue-faded);
    padding: 0.35rem 0.5rem;
    margin-left: 0.2rem;
    font-size: 1rem;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

.commodity__quantity .commodity__unit {
    border: 1px solid var(--color-blue-faded);
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
    font-size: 1rem;
    padding: 0 0.35rem;
}

.commodity__category,
.commodity__type {
    border: 0;
    color: var(--color-blue-dark);
    display: flex;
    flex-direction: row;
    justify-content: start;
    flex-wrap: wrap;
}

.category-text,
.type-text {
    background: var(--color-blue);
    color: var(--color-white);
    padding: 0.1rem 0.3rem;
    font-weight: 600;
}

.category-values,
.type-values {
    display: block;
}

.category-value,
.type-value {
    border: 1px solid var(--color-blue-dark);
    color: var(--color-blue-dark);
    background: transparent;
    border-radius: 20px;
    font-weight: 400;
    opacity: 0.7;
    margin-top: 0.1rem;
    margin-bottom: 0.1rem;
}

.category-values a[class="link"] .category-value:hover,
.type-values a[class="link"] .type-value:hover
{
    background: var(--color-blue-faded);
}

span[class="commodity__category"]:first-child {
    border-top-left-radius: 25px;
}

.flex-col--wrap .commodity__name,
.flex-col--wrap .category-values,
.flex-col--wrap .type-values,
.flex-col--wrap .commodity__description {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.commodity .card .card__footer {
    padding: 0.3rem 0;
}

.commodity .card .btn--group {
    flex-wrap: nowrap;
}

.commodity .card .btn--group .btn{
    margin: 0 0.2rem;
}

.commodity .card .btn--group .btn:hover{
    box-shadow: 0px 2px 4px 1px #00313d;
}

.commodity .card .card__footer .btn {
    border-radius: 0;
    padding: 0.3rem;
    line-height: 1;
    border-radius: 5px;
    opacity: 0.7;
    transition: all 0.3s ease-out;
}

.commodity .card .card__footer .btn:hover {
    opacity: 1;
}

.commodity .card .card__footer .btn .btn__text {
    font-size: 1.1rem;
}

.commodity .card .card__footer .icon--small {
    padding: 0;
}

.commodity .card .card__btn .btn {
    background: var(--color-blue);
    border: 1px solid var(--color-blue);
    color: var(--color-white);
    border-radius: 0;
    padding: 0.2rem 0.5rem;
    box-shadow: 0px 2px 4px 1px #00313d;
}

.commodity-delete-modal .modal-content
/* #commodityDeleteModal .modal-content,
#commodityPurchaseModal .modal-content  */
{
    background: var(--color-accent-mild);
    color: var(--color-blue-dark);
}

.commodity-delete-modal .modal-content .modal-header .btn
/* #commodityDeleteModal .modal-content .modal-header .btn,
#commodityPurchaseModal .modal-content .modal-header .btn  */
{
    padding: 0;
    display: flex;
    justify-content: end;
}

.commodity-delete-modal .modal-content .modal-body
/* #commodityDeleteModal .modal-content .modal-body,
#commodityPurchaseModal .modal-content .modal-body  */
{
    background: var(--color-accent-light);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.commodity-delete-modal .modal-content .modal-body .warning--text
/* #commodityDeleteModal .modal-content .modal-body .warning--text,
#commodityPurchaseModal .modal-content .modal-body .warning--text  */
{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.commodity-delete-modal .modal-content .modal-footer .btn
/* #commodityDeleteModal .modal-content .modal-footer .btn,
#commodityPurchaseModal .modal-content .modal-footer .btn  */
{
    opacity: 1;
    line-height: 1.3;
    padding: 0.5rem 1rem;
    font-size: 1.1rem;
}

.commodity-delete-modal .modal-content .modal-footer .btn[type="submit"]
/* #commodityDeleteModal .modal-content .modal-footer .btn[type="submit"]  */
{
    background: #dc3545;
}

.commodity-delete-modal .modal-content .modal-footer .btn[type="submit"]:hover
/* #commodityDeleteModal .modal-content .modal-footer .btn[type="submit"]:hover  */
{
    background: #be0b1d;
}

.commodity-delete-modal .modal-content .modal-footer
/* #commodityDeleteModal .modal-content .modal-footer,
#commodityPurchaseModal .modal-content .modal-footer  */
{
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 360px) and (max-width: 599px) {

    .commodity .card .commodity__tags {
        text-align: start;
    }

    .commodity .card .commodity__price {
        flex-direction: row;
        align-items: baseline;
    }

    .commodity .card .commodity__amount {
        margin: 0 0.2rem;
    }
}
@media screen and (min-width: 600px) {

    .commodity-delete-modal .modal-content .modal-footer
    /* #commodityDeleteModal .modal-content .modal-footer,
    #commodityPurchaseModal .modal-content .modal-footer  */
    {
        display: flex;
        flex-direction: row;
    }

    .commodity-delete-modal .modal-content .modal-footer .btn
    /* #commodityDeleteModal .modal-content .modal-footer .btn,
    #commodityPurchaseModal .modal-content .modal-footer .btn */
    {
        max-width: 200px;
    }
}

@media screen and (min-width: 800px) and (max-width: 919px) {

    .commodity .card .commodity__tags {
        text-align: start;
    }

    .commodity .card .commodity__price {
        flex-direction: row;
        align-items: baseline;
    }

    .commodity .card .commodity__amount {
        margin: 0 0.2rem;
    }
}

@media screen and (min-width: 601px) {
    .commodity .card .commodity__price {
        font-size: 1.8rem;
    }

    .commodity .card .commodity__icon .icon {
        width: 3rem;
        height: 3rem;
    }
    .commodity .card .commodity__name,
    .commodity .card .commodity__currency,
    .commodity .card .commodity__description {
        font-size: 0.8rem;
    }

}

@media screen and (min-width: 700px) {

    .commodity .card .commodity__name,
    .commodity .card .commodity__currency,
    .commodity .card .commodity__description {
        font-size: 1rem;
    }

}

@media screen and (min-width: 820px) {
    .commodity .card .commodity__name {
        font-size: 1.2rem;
    }
}

@media screen and (min-width: 901px) {
    .commodity .card .commodity__name {
        font-size: 1rem;
    }
}

@media screen and (min-width: 920px) {
    .commodity .card .commodity__currency,
    .commodity .card .commodity__description {
        font-size: 0.8rem;
    }
}

@media screen and (min-width: 1100px) {
    .commodity .card .commodity__name {
        font-size: 1.2rem;
    }

    .commodity .card .commodity__currency,
    .commodity .card .commodity__description {
        font-size: 1.1rem;
    }
}

@media screen and (min-width: 1200px) {

    .commodity .card .commodity__tags {
        text-align: start;
    }

    .commodity .card .commodity__price {
        flex-direction: row;
        align-items: baseline;
    }

    .commodity .card .commodity__amount {
        margin: 0 0.2rem;
    }
}

/* Content */

/* Footer */
.pps-footer {
    border-top: 3px solid var(--color-blue);
}

.pps-footer .list--icon li a {
    display: flex;
    flex-direction: row;
    align-items: center;
}
